*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f6f8f9;
}

header{
    background: white;
}

img{
    margin: 10px 0 0 20px ;
}

h1{
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    font-size: 40px;
}

.container{
    font-family: 'Roboto', sans-serif;
    width: 1024px;
    margin: 0 auto;
    padding: 10px 0 40px 55px;
    background: white;
}

#margine{
    margin: 30px auto 10px auto;
    padding: 10px 0 10px 40px;
}

.bottone{
    padding: 6px;
    border-radius: 5px;
    border: 1px solid lightgray;
    text-align: center;
    background: white;
    color: lightgray
}
.bottone:hover{
    background: #47adf1;
    color: white;
}

.margine_li{
    margin-top: 25px;
}

.margine_p{
    margin-top: 10px;
}

.check{
    padding: 1px 5px;
    border-radius: 100%;
    border: 1px solid green;
    background: white;
    color: green;
}

.cross{
    padding: 1px 5px;
    border-radius: 100%;
    border: 1px solid red;
    background: white;
    color: red;
}

.button{
    padding: 6px;
    border-radius: 20px;
    border: 1px solid lightgray;
    font-size: x-small;
    text-align: center;
    color: white;
}
.Editorial{
    background: #47adf1;
}

.Q1_Goals{
    background: #9c72e4;
}

.Recruiting{
    background: #64c0a9;
}

.Mobile{
    background: #f29e33;
}
/* li{
    list-style-type: arrow-down;
} */

