*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

header{
    background: white;
}

img{
    margin: 10px 0 10px 20px;
    vertical-align: -20px;
}

h1{
    display: inline-block;
    font-size: 40px;
}

.container{
    width: 75%;
    margin: 0 auto;
    padding: 10px 0 40px 60px;
    background: white;
}

h3{
    display: inline-block;
    margin-top: 30px;
}

#margine{
    margin: 30px auto 10px auto;
    padding: 10px 0 10px 40px;
}

.bottone{
    padding: 6px;
    border-radius: 5px;
    border: 1px solid lightgray;
    text-align: center;
    background: white;
    color: lightgray
}
.bottone:hover{
    background: #47adf1;
    color: white;
}

.margine_p{
    margin-top: 10px;
}

.checkbox{
    margin-right: 5px;
    padding: 1px 3px;
    border-radius: 100%;
    background: white;
    font-size: xx-small;
}

.check{
    border: 1px solid #55b9a0;
    color: #55b9a0;
}

.cross{
    border: 1px solid red;
    color: red;
}

.button{
    padding: 6px;
    border-radius: 20px;
    border: 1px solid lightgray;
    font-size: x-small;
    text-align: center;
    color: white;
}
.Editorial{
    background: #47adf1;
}

.Q1_Goals{
    background: #9c72e4;
}

.Recruiting{
    background: #64c0a9;
}

.Mobile{
    background: #f29e33;
}

.Website{
    background: #d863a1;
}

.Sales{
    background: #b0c926;
}